.App {
  text-align: center;
  background-color: #673ab7;
}

/* potential color scheme ideas

Gold/Yellow Accent:

  Primary Purple: #7E57C2
  Accent Gold: #FFD700

Teal Accent:

  Primary Purple: #9C27B0
  Accent Teal: #009688

Crimson Accent:

  Primary Purple: #673AB7
  Accent Crimson: #DC143C

Silver/Gray Accent:

  Primary Purple: #AB47BC
  Accent Silver: #C0C0C0

Lime Green Accent:

  Primary Purple: #8E24AA
  Accent Lime Green: #00FF00

*/

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
